


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* START CODING here*/

/* custom font
fixed path
*/
@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.woff2') format('woff2'),
      url('fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


div{
    border: 1px dotted black;
}


/* made the body display flex to divide the page into a left and right container*/
body{
    display: flex;
}

/* 
added flex values, notably a flex basis of 30vw for the left container to occupy 30% of the viewport
100vh to occupy the whole viewport height
added background image and contain the size
*/
.left-container{
    flex: 1 1 30vw;
    border: 5px solid green;
    height: 100vh;

    background: fixed url("../haliewest.jpg");
    background-size: contain;
}

/* 
added flex values, notably a flex basis of 70vw for the right container to occupy 30% of the viewport
100vh to occupy the whole viewport height
made a flex container to center content of the right container
change flex-direction from default to column
and use padding-top to pad the top of the container
added background-color to darken the container
*/
.right-container {
    flex: 1 1 70vw;
    border: 5px solid green;
    height: 100vh;

    display: flex;
    flex-direction: column;
    padding-top: 10vw;

    background-color: #eee;
}

/*  
added height for the container
added a 10vw for the margin-top, to create space
made it a flex container, to align the content in the center with justify-content: center
added background-color that is semi dark and has transparency
*/
.logo-container{
    border: 1px solid blue;
    height: 10vw;
    align-self: start;

    margin-top: 10vw;
    display: flex;
    justify-content: center;

    background-color: rgb(40,40,49, .3);

}

/*  
added align-self, to center content along the y axis
added color of white
added font-size
*/
.logo-container p{
    border: 1px solid red;
    align-self: center;
    color: white;
    font-family: "Norse";

}

/* 
override display default of block, to inline-block
added width and height to predefine icon size
*/
.icon img{
  display: inline-block;
  width: 5em;
  height: 5em;
}

/*
added font-size for the icon text
*/
.icon-text{
  font-size: 5em;
}


/*  
added padding to all direct containers of right-container div
*/
.right-container > div{
  padding-left: 3vw;
  margin-bottom: 3vw;
}


/*  
contain the section into a smaller width
increase font-size with em
added margin-bottom to the hero container
*/
.hero-section{
  width: 80%;
  font-size: 1.5em;

  margin-bottom: 4vw;
}

.hero-section p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
}

/*
added margin to the last child
*/
div.hero-section p:last-child{
  margin-top: 2vw;
}

/*
FORM SECTION
create contrast with background -color
added box-shadow (fix in the future)
*/
.form-section{
  background-color: #fff;
  box-shadow: 0px 5px #aaa;
}

form label{
  text-transform: uppercase;
  font-size: .9em;
  line-height: 1;
}

form{
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  padding-left: 0px;
}

form div{
  width: 600px;
  display: flex;
  flex-direction: column;
}



.form-section div{
  
}


/* 
added margin to all sides to space out inputs
*/
form input{
  width: 100%;
  max-width: 250px;
}

/*  
used position: absolute and margin to position labels using span at the top of the inputs
*/
form span{
  

}

input:valid{
  border-color: green;
}

input:invalid{
  border-color: red;
}

/*  
Button Section
*/

.submit-section > p{
  font-size: 1.1em;
  padding: 15px;
  padding-left: 0px;
}

.submit-section a{
  text-decoration: none;
  color: darkgreen;
}

button{
  background-color: green;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;;
}